@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap");

body {
    background: linear-gradient(180deg, #ff00f7 14%, #764279 100%);
}

* {
    padding: 0;
    margin: 0;
    font-family: "Comfortaa", sans-serif;
    text-decoration: none;
}



nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ff00f7;
    padding-top: 34px;
    padding-bottom: 34px;
    padding-left: 37px;
    padding-right: 37px;

}

.logo {
    color: var(--Color, #000);
    font-family: Comfortaa;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 50px;
}

nav ul li a {
    color: black;
}

nav ul li a:hover {
    color: rgb(255, 255, 255);
    transition: .3s;
}


.input-container {
    border-radius: 25px;
    background: #7E537D;
    padding: 5px 25px 8px 27px;
    justify-content: flex-end;
    align-items: flex-end;
    text-decoration: none;
    background-image: url('/img/Vector\ \(7\).svg');
    background-position: 210px 3px;
    background-repeat: no-repeat;

}

.input-container::placeholder {
    color: #ffffff;
    font-size: 15px;
}

.hero {
    position: relative;
    width: auto;
    height: 598px;
    flex-shrink: 0;
    border-radius: 20px 20px 300px 20px;
    background: linear-gradient(135deg, #CA26FF 7.17%, #F4CAC0 85.48%, #FFF3B0 100%);
    margin-left: 6px;
    margin-right: 5px;


}

.hero h1 {
    color: #330031;
    font-family: Comfortaa;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 0%;
    letter-spacing: 7.5px;
    position: absolute;
    top: 106px;
    left: 50px;
}

.hero img {
    position: absolute;
    right: 31px;
    bottom: 62px;

}

.hero h3 {
    color: #FFF;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: 0%;
    letter-spacing: 15.8px;
    position: absolute;
    right: 797px;
    left: 113px;
    top: 185px;

}

.hero p {
    position: absolute;
    width: 650px;
    height: 200px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Comfortaa;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 149.5%;
    letter-spacing: 0.3px;
    right: 722px;
    left: 54px;
    top: 241px;

}




.hero div a {
    position: absolute;
    align-items: center;
    justify-content: center;
    border-radius: 35px;
    background: var(--Color, #000);
    right: 690px;
    left: 600px;
    top: 504px;
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
    margin-right: 20px;
    padding: 15px 30px;
    font-size: 18px;
}

h3 {
    padding-left: 62px;
}

.top-2024 {
    margin: 20px 109px 20px 109px;
}

.cards {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.card {
    display: flex;
    flex-direction: column;
}

.card a {
    border-radius: 35px;
    background: var(--Color, #330031);
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
    padding: 15px 62px 15px 62px;
    font-size: 18px;
    margin-top: 20px;
}